# Dependencies & Package Management
node_modules/
bun.lockb
bun.lock

# Git Hooks & Tooling
.husky/_

# Biome cache
.biome

# Operating System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
.zed/

# Misc
*.backup
*.bak
*.tmp
*.temp
.tmp/
.temp/

# Logs
*.log
logs/
npm-debug.log*

# Local Overrides
.zshrc.local
.bashrc.local
shell/zshrc.local

# Local environment files
.env
.env.local
