# dependencies
node_modules/

# build
dist/
build/
*.tsbuildinfo
.biome

# system
.DS_Store
._*
.vscode/
.zed/
.idea/
*.log
.tmp/
.env
.env.*
!.env.example
.husky/_/

# project
.zshrc.local
.bashrc.local
shell/zshrc.local
