# dotfiles-managed: generated 1password-agent
# dotfiles-source: system/1password.agent.toml.template
# For more examples, see: https://developer.1password.com/docs/ssh/agent/config

[[ssh-keys]]
item = "__OP_SSH_AUTH_ITEM__"
vault = "__OP_VAULT__"

[[ssh-keys]]
item = "__OP_SSH_SIGN_ITEM__"
vault = "__OP_VAULT__"
